:root {
  --accent-color: #f9bb47;
  --background: #1a353f;
  --shadow: #1a1b25;
  --background-light: #015492;
  --light-text: #bfc0c0;
  --box-background: #ffffff;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans SC', sans-serif;
}

nav {
  align-items: center;
  background-image: linear-gradient(white, rgb(226, 226, 226));
  color: #2b8b9e;
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: 18px;
  padding: 0 11.5%;
  width: 100%;
}

header ul {
  margin-top: 10px;
  background-color: #23586385;
  padding: 10px;
  border-radius: 3px;
}

h6 {
  font-size: 20px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 50px;
  width: 1200px;
}

#friend-list {
  color: var(--accent-color);
}

header p {
  color: #dbdbdb;
  font-size: 18px;
}

h1 {
  color: var(--accent-color);
  font-size: 40px;
  margin: 3px 0 0 0;
}

ul {
  list-style: none;
}

li {
  color: rgb(212, 212, 212);
  font-size: 80%;
  font-weight: 700;
}

span {
  font-weight: 400;
}

main {
  width: 1150px;
}

.main__sections {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0 2%;
  width: 100%;
}

.section__h3--title {
  background-color: var(--background-light);
  border-radius: 4px;
  box-shadow: 10px 10px 30px var(--shadow);
  padding: 2px 8px;
}

h3 {
  margin-bottom: 12px;
  color: var(--accent-color);
}

.widget--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.article--widget {
  background-color: var(--box-background);
  border-radius: 4px;
  box-shadow: 10px 10px 30px var(--shadow);
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.steps__article--1 p {
  margin: 25px 0;
}

.steps__article--2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
}

#step-goal-chart {
  margin-top: 30px;
}

.hydration__article--1 h5 {
  margin-bottom: 25px;
}

.hydration__article--1 span,
.sleep__article--1 span {
  font-weight: bold;
  font-size: 30px;
  color: var(--accent-color);
}

#yesterday-sleep h5 {
  margin-top: 0;
}

#yesterday-sleep {
  margin-bottom: 20px;
}

h5 {
  color: rgb(77, 77, 77);
  font-size: 18px;
  margin: 10px 0 0 0;
  text-align: center;
}

#friend-weekly-steps {
  font-size: 20px;
}

#friend-weekly-steps li {
  color: rgb(54, 54, 54);
}

.friend-1 span,
.friend-2 span,
.friend-3 span,
.friend-4 span,
.friend-5 span {
  color: rgb(110, 110, 110);
  font-size: 18px;
}

.friend-1 span {
  background: -webkit-linear-gradient(rgb(240, 168, 61), rgb(240, 207, 61));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-weight: bold;
}

.friend-2 span {
  background: -webkit-linear-gradient(rgb(112, 112, 112), rgb(158, 158, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: bold;
}

.friend-3 span {
  background: -webkit-linear-gradient(rgb(160, 85, 42), rgb(252, 112, 77));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: bold;
}

.sleep-icon,
.trend-icon,
.water-icon {
  width: 45%;
}

.sleep-icon {
  margin: 25px 0 0 0;
}

.step-icon {
  height: 180px;
  margin-top: 65px;
}

.sleep-icon,
.water-icon {
  margin-bottom: 25px;
}

#weekly-sleep {
  margin-bottom: 80px;
}

.sleep__article--2 {

}

.steps__article--3 {
  font-weight: bold;
  font-size: 20px;
  color: rgb(78, 78, 78);
  }

.steps__article--3 span {
font-weight: bold;
font-size: 30px;
color: var(--accent-color)
}

#step-trends {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
}

.all-time-sleep {
  margin-bottom: 30px;
}

.all-time-sleep span {
  font-size: 25px;
  font-weight: bold;
  color: var(--accent-color)
}

.all-time-sleep h5 {
  font-size: 21px;
  font-weight: bold;
}

.exercise-icon {
  margin-top: 15px;
  width: 40%;
}

.article__widget--div h5 {
  text-align: left;
  color: rgb(107, 107, 107);
}

.article__widget--div {
  margin-bottom: 20px;
}

.article__widget--div span {
  color: rgb(137, 190, 67);
  font-weight: bold;
  font-size: 22px;
}

.activity--container--2 {
  margin: 25px 0;
}

.globe-icon {
  height: 160px;
}

#compare-activity {
  margin-bottom: 15px;
}

#compare-activity span {
  font-weight: bold;
  color: var(--accent-color);
  font-size: 23px;
}